<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
  <link rel="icon" type="image/x-icon" href="static/fav.ico">
</head>
<style>
    body {
      background-image: url('https://i.postimg.cc/v8Xc1nVV/energy-gb9872ad9c-1920.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    
    }
    </style>
    <link rel="stylesheet" href="static/abouts.css">
    
  </head>
  
<body>
    <br>
    
  <header>
    <h1>About Us</h1>
  </header>
  <br>
  <section>
    <h2 style="color:rgb(255, 255, 255);">Our Mission</h2>
    <br>
    
    <p style="color:rgb(255, 255, 255);">"Welcome to our website, where we specialize in converting text to MP3 files. Our mission is to provide a convenient and easy-to-use platform that allows users to quickly and easily convert written text into audio files."</p><br>

    <p style="color:rgb(255, 255, 255);"> "We believe that having text converted to audio is a valuable tool for people with visual impairments, busy professionals, and anyone who wants to listen to articles, books or notes while on the move. We strive to make the process of converting text to audio as simple and seamless as possible."</p><br>    
      
  </section>

  <footer>
    <p>Copyright © 2023 converterio.pythonanywhere.com</p>
  </footer>
</body>
</html>
