
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Converter</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
  <div class="topnav">
    <a class="active" href='#Home'>Home</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
  </div>
    <h1>Text to MP3 Converter</h1>
    <form method="POST" action="/convert">
      <label for="text">Enter text to convert: </label>
      <textarea id="text" name="text"></textarea>
      <input type="submit" value="Convert to mp3">
    </form>
    <div id="download-link"></div>
    
</body>
</html>