<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Converter.io - Login or Signup</title>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="icon" type="image/x-icon" href="static/fav.ico">
</head>
<body>
    <nav>
        <a href="http://converterio.pythonanywhere.com/"><img src="https://i.postimg.cc/C55KjFBg/A-letter-tech-logo.png"></a>
      </nav>
    <h1>Welcome to Speech Maker</h1>
    <br><br><br>
    <p style="text-align: center; margin-top: 20px;">
      <a href="/signup" style="color: #fff; font-size: 16px; padding: 12px 35px; border-radius: 50px; display: inline-block; border: 0; outline: 0; box-shadow: 0px 4px 20px 0px #49c628a6; background-image: linear-gradient(135deg, #70F570 10%, #49C628 100%); text-decoration: none;">Signup</a>
      or
      <a href="/login" style=" color: #fff; font-size: 16px; padding: 12px 35px; border-radius: 50px; display: inline-block; border: 0; outline: 0; box-shadow: 0px 4px 20px 0px #49c628a6; background-image: linear-gradient(135deg, #70F570 10%, #49C628 100%); text-decoration: none;">Login</a>
  </p>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


    <footer>     <!--Footer-->
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <h3>Contact Us</h3>    <!--Contact-->
              <ul>
                <li>Email: easysyntaxpython@gmail.com</li>
              </ul>
            </div>
            <div class="col-md-4">
              <h3>Follow Us</h3>            <!--Follow-->
              <ul class="social-links">
                <li><a href="https://www.youtube.com/@examhacker"><img src="https://i.postimg.cc/3RbX6sfF/ytpng-removebg-preview.png" style="width:50px;height:50px;"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.linkedin.com/in/aayush-singh-se01/"><img src="https://i.postimg.cc/3JQMXfQ4/linkedin-removebg-preview.png" style="width:50px;height:50px;"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="copyright">    <!--Copyright-->
          <p>Copyright &copy; 2023 converterio.pythonanywhere.com</p>
        </div>
      </footer>

</body>
</html>
