<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SignUp Page
  </title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"><link rel="stylesheet" href="static/style1.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="box-form">
	<div class="left">
		<div class="overlay">
		<h1>Speech Maker</h1>
		<br>
		<br>
		<p>Convert Your Text or Files into Speech.</p>
		</div>
	</div>
	
	
		<div class="right">
		<h5>SignUp</h5>
		<p>Already have an account? <a href="/login">Login Your Account</a> Now</p>
		<form method="POST" action="/signup">
			<input type="email" name="username" placeholder="Username" required><br><br>
			<input type="password" name="password" placeholder="Password" required><br><br>
			<button type="submit">
				SignUp
			  </button>
		</form>
			
			<br><br>
			
			<br>
	</div>
	
</div>
<!-- partial -->
  
</body>
</html>
